# Logs
*.log
npm-debug.log*

node_modules/
dist/
*.tsbuildinfo

# Local env / secrets
.env
.env.local

# SQLite database
data/*
!data/.gitkeep

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
